/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  /* padding-top: 3.5rem; */
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-weight: 900;
}

section{
  min-height: 850px;
}

.jumbotron {
  border-radius: 0 !important;
  background-image: url("assets/img/banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron .btn{
  border-radius: 50px;
  /* position: relative; */
  z-index: 3;
  margin-top: -5px;
}

.tombol:hover{
  background-color: white;
  color: red;
}

/* .jumbotron .deskripsi{
  margin-top: 336px;
  font-weight: 500;
  font-size: 20px;
  background-color: rgb(124, 191, 236,.7);
  font-family: 'Russo One', sans-serif;
  border-radius: 10px;
} */

.jumbotron .deskripsi{
  margin-top: 275px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  /* background-color: rgb(124, 191, 236,.7); */
  /* font-family: 'Russo One', sans-serif; */
  border-radius: 10px;
  padding: 3px;
  
}


/* sinopsis */
.sinopsis{
  background-image: url("assets/img/banner3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* cast-caracter */
.cast-caracter{
  min-height: 850px;
  background-image: url("assets/img/banner3.png");
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
}

.cast-caracter span{
  color: red;
}

.cast-caracter .cast{
  margin-top: 190px;
}

hr{
  width: 300px;
  border-top: 1px solid #666;
}

/* set lokasi &envi */
.setlok-envi {
  background-color: whitesmoke;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.setlok-envi span{
  color: red;

}

/* cebong kampret */
.cebong-kampret{
  background-image: url("assets/img/bg-cebong-kampret.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* video youtube */
.video-youtube{
  background-image: url("assets/img/bg-cebong-kampret.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  background-size: cover;
}

/* footer */
.footer{
  background-image: url("assets/img/bg-footer.png");
  background-position: top;
  background-repeat: no-repeat;
  height:50vh;
  background-size: cover;
}







@media only screen and (max-width: 768px) {
  .jumbotron {
    border-radius: 0 !important;
    background-image: url("assets/img/banner-small.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48vh;
    margin-top: 56px;
  }
  .jumbotron .deskripsi {
    margin-top: 290px;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    background-color: rgba(18, 18, 19, 0.4);
    /* font-family: 'Russo One', sans-serif; */
    border-radius: 10px;
    padding: 5px;
}
}



@media only screen and (max-width: 600px) {
  .jumbotron {
    border-radius: 0 !important;
    background-image: url("assets/img/banner-small.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin-top: 56px;
  }

  .jumbotron .deskripsi{
    margin-top: 465px;
    color: #fff;
    font-weight:400;
    font-size: 13px;
    background-color: rgba(18, 18, 19, 0.4);
    /* font-family: 'Russo One', sans-serif; */
    border-radius: 10px;
    padding: 2px;
    
  }
    
  p{
      z-index: 100;
  }
 
  hr{
      width: 200px;
      border-top: 0.5px solid #666;
  }
/* sinopsis */
.sinopsis{
  background-image: url("assets/img/banner3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.cast-caracter .cast{
margin-top: 40px;
}
  /* cast-caracter */
.cast-caracter{
  background-image: url("assets/img/banner3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.cebong-kampret{
  background-image: url("assets/img/bg-cebong-kampret.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

#gambar {
  width: 15%;
}

.video-youtube{
  background-image: url("assets/img/bg-cebong-kampret.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  background-size: auto;
}
/* footer */
.footer{
  background-image: url("assets/img/bg-footer.png");
  background-position: center;
  background-repeat: no-repeat;
  height:20vh;
  background-size: cover;
}

  
  }
